<% provide(:title, 'ユーザ一覧') %>

<h1>ユーザ一覧</h1>

<div class= col-md-10 col-md-offset-1>
  <table class= "table table-condensed users-table">
    
    <tr>
      <td></td>
      <td></td>
    </tr>
    <%= @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td></td>
    </tr>
  </table>
</div>

